{:paths ["src" "resources"]
 :deps  {seancorfield/clj-new {}}
 :aliases
        {:test    {:extra-paths ["test"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.0.0"}}}
         :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.1.128"}}
                   :main-opts  ["-m" "hf.depstar.jar" "tape.jar"]}
         :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "tape.jar"]}
         :deploy  {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.1"}}
                   :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "tape.jar"]}}}
