{:paths ["src" "resources"]
 :deps {org.webjars.npm/bulma {}
        tape/mvc {:local/root "../mvc"}
        tape/current {:local/root "../current"}
        tape/router {:local/root "../router"}
        tape/tools {:local/root "../tools"}
        tape/toasts {:local/root "../toasts"}}
 :aliases {:test {:extra-paths ["dev/src" "target"]
                  :extra-deps {tape/dev {:local/root "../dev"}}}}}
